name: ci

on:
  # Trigger the workflow on push to master or develop, except tag creation
  push:
    branches:
      - 'main'
    paths:
      - 'backend/**'
      - 'frontend-v2/**'
    tags-ignore:
      - '**'

  # Trigger the workflow on pull request
  pull_request:
    paths:
      - 'backend/**'
      - 'frontend-v2/**'
      - '.github/workflows/ci.yml'

  # Trigger the workflow manually
  workflow_dispatch: ~

# TODO unify with a single matrix over platforms
jobs:
  macos:
    name: macos
    strategy:
      fail-fast: true
      matrix:
        arch_type: [ARM64] # NOTE: we dont run on X64 anymore as it does not support eg newer pytorches
        python_version: ["3.11", "3.12", "3.13"]
    runs-on: [self-hosted, macOS, "${{ matrix.arch_type }}"]
    # NOTE we want to trigger this only in origin2origin or fork2origin scenarios, not in fork2fork scenarios
    if: github.event.pull_request.base.repo.full_name == 'ecmwf/forecast-in-a-box'
    timeout-minutes: 20
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      # NOTE if setup uv used, make sure to configure uv cache correctly, to not fill home. But should be already installed and configured
      # - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-node@v6 # NOTE does not actually work on macos !!!
      - run: |
          set -euo pipefail
          pushd backend
          export UV_FROZEN=1
          uv sync --extra plots --python "${{ matrix.python_version }}"
          uv run prek --all-files
          mkdir /tmp/tmpFiabHome
          mkdir src/forecastbox/static && touch src/forecastbox/static/index.html # TODO replace with proper static file build
          if [[ "${{ matrix.python_version }}" != "3.13" ]] ; then
            # see tests of the admin/release endpoint for explanation
            export CI_GITHUB_RATELIMIT=yes
          fi
          popd

          just val
  ubuntu:
    name: ubuntu
    strategy:
      fail-fast: true
      matrix:
        python_version: ["3.11", "3.12", "3.13"]
    runs-on: ubuntu-latest
    timeout-minutes: 20
    # NOTE we trigger this for both fork- and origin- targeting PRs, as those are github runners
    steps:
      - uses: actions/checkout@v4
      - uses: extractions/setup-just@v3
      - uses: astral-sh/setup-uv@v7
      - uses: actions/setup-node@v6
      - run: |
          set -euo pipefail
          pushd backend
          export UV_FROZEN=1
          uv sync --extra plots --python "${{ matrix.python_version }}"
          uv run prek --all-files
          mkdir /tmp/tmpFiabHome
          mkdir src/forecastbox/static && touch src/forecastbox/static/index.html # TODO replace with proper static file build
          if [[ "${{ matrix.python_version }}" != "3.13" ]] ; then
            # see tests of the admin/release endpoint for explanation
            export CI_GITHUB_RATELIMIT=yes
          fi
          popd

          just val

  frontend:
    name: frontend
    runs-on: ubuntu-latest
    timeout-minutes: 20
    defaults:
      run:
        working-directory: frontend-v2
    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v4
        with:
          node-version-file: frontend-v2/.node-version
          cache: 'npm'
          cache-dependency-path: frontend-v2/package-lock.json

      - name: Install dependencies
        run: npm ci

      - name: Install Playwright browsers
        run: npx playwright install --with-deps chromium

      - name: Check formatting and linting
        run: npm run check

      - name: Run unit and integration tests. No e2e tests as they take too long and could be added later to a full test suite.
        run: npm run test:run

      - name: Check if build succeeds
        run: npm run build
